:root{
    --Lato:'Lato', sans-serif;
    --putih1:#FFFFFF;
    --putih2:#70707000;
    --putih3:#FFFFFF00;
    --unggu:#A90170;
    --pink:#E25AB4;
    --abu1:#A4A4A4;
    --abu2:#4D4D4D;
    --abu3:#70707044;
    --abu4:#00000029;
    --abu5:#70707096;
    --abu6:#CECECE;
    --hitam1:#292929;
    --hitam2:#000000;
    --biru:#4ADED9;
    --biru1:#40517C;
}
a {
    color: var(--hitam1);
}
a:hover{
    color: var(--hitam1);
    text-decoration: none;
}
body{
    font-family: var(--Lato);
}
h1{
 font-size: 100px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 28px;
}
.abu{
    color: var(--abu2);
}
.abu6{
    color: var(--abu6);
}
.hitam{
    color: var(--hitam1);
}
.nopd{
    padding: 0 !important;
}
.nomr{
    margin: 0 !important;
}
.f15{
    font-size: 15px !important;
}
.f16{
    font-size: 16px !important;
}
.f18{
    font-size: 18px !important;
}
.f20{
    font-size: 20px !important;
}
.f25{
    font-size: 25px !important;
}
.f30{
    font-size: 30px !important;
}
.f35{
    font-size: 35px !important;
}
.f40{
    font-size: 40px !important;
}
.f50{
    font-size: 50px !important;
}
.f55{
    font-size: 55px !important;
}
.f70{
    font-size: 70px!important;
}
.black{
    color: var(--hitam1) !important;
}
.left {
    float: left !important;
}
.right {
    float: right !important;
}
.mb20{
    margin-bottom: 20px !important;
}
.mb30{
    margin-bottom: 30px !important;
}
.mb40{
    margin-bottom: 40px !important;
}
.mb50{
    margin-bottom: 50px !important;
}
.mb75{
    margin-bottom: 75px !important;
}
.mb90{
    margin-bottom: 90px !important;
}
.mb200{
    margin-bottom: 200px !important;
}
.mt10{
    margin-top: 10px !important;
}
.mt20{
    margin-top: 20px !important;
}
.mt50{
    margin-top: 50px !important;
}
.mt90{
    margin-top: 90px !important;
}
.mr60{
    margin-right: 60px !important;
}
.mr15{
    margin-right: 15px !important;
}
.w900{
    width: 900px !important;
}
.p90{
    padding: 90px;
}
.overflow-unset{overflow: unset !important;}
.border-abu{
    border: 1px solid #70707044;
    border-radius: 10px;
}
.br-pink{
    border-right: 1px solid var(--pink);
}
.pink{
    color: var(--pink) !important;
}
.unggu{
     color: var(--unggu) !important;
 }
.a-underline{
    text-decoration: underline;
}
.container{
    max-width: 1920px;
    padding: 0;
}
.w-50{
    float: left;
    width:50%
}
img {
    max-width: 100%;
}
hr.unggu-150 {
    border-top: 1px solid var(--unggu);
    width: 150px;
}
hr.unggu {
    border-top: 1px solid var(--unggu);
}
hr.ungguH49{
    border-top: 49px solid var(--unggu);
    float: left;
    width: 100%;
    margin: 0;
}
hr.pink {
    border-top: 1px solid var(--pink);
}
.vl {
    border-left: 1px solid var(--pink);
    height: 100%;
}
.pointer{
    cursor: pointer;
}
.text-line-through{
    text-decoration: line-through;
}
.ellipsis {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}
.progress-bar{
    background-color: var(--unggu);
}
.br-theme-css-stars .br-widget {
    height: 60px;
    white-space: nowrap;
}
.br-theme-css-stars .br-widget a{
    height: 50px;
    width: 60px;
    float: left;
    font-size: 50px;
    margin-right: 5px;
}
.br-theme-css-stars .br-widget a.br-selected:after,.br-theme-css-stars .br-widget a.br-active:after{
    color: var(--unggu);
    /*font-size: 50px;*/
}
.br-theme-css-stars .br-widget a:after{
    /*font-size: 50px;*/
}

.f-light{
    font-weight: 300 !important;
}

.bold{
    font-weight: bold;
}
.body{
    max-width: 1920px;
}
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 5px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}
.form-control.myway {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    min-height: unset;
}
.btn-biru{
    background: var(--biru);
    color: var(--putih1);
    border-radius: 10px;
}
.btn-unggu{
    background: var(--unggu);
    color: var(--putih1);
    border-radius: 10px;
}
.btn-abu{
    background: var(--abu2);
    color: var(--putih1);
    border-radius: 10px;
}
.btn-biru.btn-lg, .btn-abu.btn-lg{
    min-width: 240px;
    height: 96px;
    border-radius: 13px;
    padding: 20px 38px;
    font-size: 30px;
    font-weight: 500;
}
.btn:hover {
   color: var(--putih1);
}
/*Header*/
.nav{
    width: 80%;
    /*float: left;*/
    height: 125px;
}
.my-nav-items{
    width: 80%;
    float: left;
    margin: 23px 0 0 80px;
    font-weight: bold;
    font-family: var(--Lato);
    height: 125px;
}
.nav-link {
    display: block;
    padding: 27px;
    text-transform: uppercase;
    color: var(--hitam1);
    font-size: 25px;
}
.nav-link:hover{
    display: block;
    padding: 27px;
    text-transform: uppercase;
    color: var(--pink);
    font-size: 25px;
}
.nav .submenu {
     display: none;
     padding: 0;
     width: 25%;
 }
.nav ul li {
    color: var(--hitam1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 25px;
    font-weight: normal;
}
.nav li:hover ul ul {
    display: none;
}

.nav li:hover ul,.nav li:hover .box-menu {
    display: block;
}
.nav .box-menu{
    display: none;
    float: left;
    position: absolute;
    left: 30%;
    top: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 6px #00000029;
    border: 1px solid #707070A1;
    padding: 60px 30px;
    min-width: 1275px;
    z-index: 99;
}
.border-menu{
    border-right: 1px solid #FFD3D3;
    position: absolute;
    top: 60px;
    bottom: 10%;
    left: 333px;
}
.nav li li:hover ul {
    display: block;
    margin-left: 255px;
    margin-top: -35px;
    position: absolute;
    top: 90px;
    width: 80%;
    min-height: 250px;
}
.header{
    height: 150px;
    background: var(--putih1);
    border: 1px solid var(--abu5);
    opacity: 1;
    padding: 0 75px;
}
.my-logo{
    width: 270px;
    height: 150px;
    float: left;
}
.my-logo img{
    max-width: 100%;
}
.my-search{
    float: left;
    width: 20%;
    padding: 30px 0;
}
.my-search img{
    /*max-width: 100%;*/
    width: 42px;
}
.my-nav-items .dropdown, .dropup {
    position: relative;
    height: 130px;
}
.my-nav-items .dropdown-content {
    display: none;
    position: absolute;
    min-width: 1275px;
    left: -105px;
    z-index: 1;
    margin-top: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 6px #00000029;
    border: 1px solid #707070A1;
    padding: 60px 30px;
    min-height:550px;
}

.my-search .form-control {
    display: block;
    width: auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    min-height: 45px;

}

/* Links inside the dropdown */
.my-nav-items .dropdown-content a {
    color: var(--hitam1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 25px;
    font-weight: normal;
}
/* Change color of dropdown links on hover */
.my-nav-items .dropdown-content a:hover {
    color: var(--unggu);
}

/* Show the dropdown menu on hover */
.my-nav-items .dropdown:hover .dropdown-content {display: block;}

.dropdown-content .menu{
    width: 280px;
    border-right: 1px solid #FFD3D3;
    opacity: 1;
    float: left;
    min-height: 425px;
}
.dropdown-content .sub-menu{
    display:none;
}
.dropdown-content .my-cate:hover .sub-menu{
    display:block;
}
.dropdown-content .sub-menu {
    width: 62%;
    float: left;
    position: absolute;
    left: 25%;
    top:12%;
}
.dropdown-content .sub-menu h1,.sub-sub h1{
    font-size: 25px;
    font-weight: bold;
    padding: 12px 16px;
}
.dropdown-content .sub-menu .woman{
    width: 50%;
    float: left;
}
.dropdown-content .sub-menu .man{
    width: 50%;
    float: left;
}

/*Banner*/
.banner.home .desc, .banner.about .desc{
    position: absolute;
    margin-left: 90px;
    width: 870px;
    color: var(--putih1);
    margin-top: 78px;
}
.banner.home .desc h2{
   font-weight: normal;
}

.banner.about .desc{
    position: absolute;
    margin-left: 90px;
    width: 870px;
    color: var(--biru1);
    margin-top: 78px;
    top: 30%;
}


/*new-arrivals*/
.new-arrivals{
    /*margin: 90px;*/
}
.new-arrivals h2{
   font-size: 40px;
    text-align: center;
    margin-bottom: 42px;
}
.container-produk{
    margin: 90px 180px 44px 180px;
}
.carousel-control-next, .carousel-control-prev{
    color: var(--hitam1);
    opacity: 1;
    width: 1%;
}
.carousel-control-prev i,.carousel-control-next i{
    color: var(--hitam1);
    font-size: 37px;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: unset;
}
.owl-theme .owl-nav [class*=owl-]:focus{
    outline: none;
}
.col-md-25{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
}
.content-produk{
    width: 100%;
    float: left;
    margin: 0 120px;
}
.box-produk h1{
    font-size: 18px;
    text-align: center;
    font-style: italic;
}
.box-produk h2{
    font-size: 20px;
    text-align: center;
}
.my-carousel  {
    padding: 0 80px;
}
.my-carousel .owl-dots {
    display: none;
}
.owl-theme .owl-nav .owl-prev i, .owl-theme .owl-nav .owl-next i{
    font-size: 37px;
    color: var(--hitam1);
}
.owl-theme .owl-nav .owl-prev {
    left: -15px;
    top: 45%;
    position: absolute;
}
.owl-theme .owl-nav .owl-next {
    right: -15px;
    top: 45%;
    position: absolute;
}
/*JOin*/
.join{
    position: relative;
}
.join .desc{
    position: absolute;
    margin-left: 90px;
    width: 870px;
    color: var(--putih1);
    margin-top: 120px;
}

/*Stories*/
.stories h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 60px;
}

.stories{
    margin: 90px 75px;
}

.stories .comment{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
}
.stories .name{
    text-align: center;
    font-size: 15px;
    display: block;
}

.our-stories{
    margin: 50px 180px;
}
.our-stories h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}
.our-stories .category {
    font-weight: bold;
    font-size: 40px;
    width: 100%;
    text-align: center;
    color: var(--abu1);
    margin-bottom: 25px;
}
.our-stories .category span {
    margin-right: 182px;
}
.our-stories .category .nav-link.active{
    font-weight: bold;
    font-size: 40px;
    color: var(--hitam1);
}
.our-stories .category .nav-link{
    font-weight: bold;
    font-size: 40px;
    color: var(--abu1);
}

.our-stories .title{
    margin-top: 30px;
    margin-bottom: 26px;
    font-size: 25px;
    font-weight: bold;
}
.our-stories .desc{
    margin-bottom: 30px;
    font-size: 18px;
}
.our-stories .read-more{
    font-weight: bold;
    font-size: 20px;
    width: 240px;
    margin: 0 27%;
}
.our-stories .read-more hr{
    width: 40px;
    text-align: center;
}

/*FOOTER*/
.footer{
    margin-top: 66px;
    padding-left: 270px;
    margin-bottom: 30px;
    /*float: left;*/
    /*width: 100%;*/

}
.footer .menu-left{
    width: 60%;
    float: left;
}
.footer .menu-left h2{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
}
.footer .menu-left ul{
    padding: 0;
}
.footer .menu-left ul li{
    list-style: none;
    font-size: 18px;
    margin-bottom: 15px;
}
.footer .menu-left a{
    color: var(--hitam1);
}
.footer .menu-left a:hover{
    color: var(--hitam1);
    text-decoration: none;
}
.footer .social-media{
    width: 40%;
    float: left;
    text-align: center;
}

.footer .social-media h2{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
}
.footer .social-media img{
    width: 40px;
}

/*Promo*/
.container-promo{
    margin: 91px 180px;
}
.box-promo{
    position: relative;
    margin-bottom: 150px;
}
.box-promo img{
    height: 269px;
}
.box-promo .desc{
    background: var(--putih1);
    border: 1px solid #A4A4A42C;
    width: 360px;
    height: 180px;
    position: absolute;
    bottom: -75px;
    left: 75px;
    padding: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: bold;
}
.box-promo .desc span{
    font-size: 18px;
    font-weight: normal;
    display: block;
    margin-top: 20px;
}
.container-promo .load-more{
    text-align: center;
}
.container-promo .load-more hr{
    width: 37%;
    margin: 45px 0;
}

.container-promo .load-more .btn, .container-promo .load-more .btn a:hover{
    height: 90px;
    width: 300px;
    background: var(--putih1);
    border: 1px solid var(--abu3);
    border-radius: 10px;
    padding: 25px;
    font-weight: bold;
    font-size: 25px;
    color: var(--hitam1);
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow:none;
}


/*Business*/
.container-business{
    margin: 90px 180px;
}
.container-business .box{
    box-shadow: 0px 3px 6px #0000005C;
    border: 1px solid #70707044;
    padding: 65px 120px;
}
.container-business .box .item{
    margin-bottom: 100px;
}
.container-business .box .left{
   width: 45%;
   margin-right: 60px;
    padding-left: 15px;
    padding-right: 15px;
}
.container-business .box .right{
    width: 45%;
    margin-left: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-business .box h1{
   font-size: 50px;
    font-weight: bold;
    color: var(--biru1);
    text-align: center;
    margin-bottom: 87px;

}
.container-business .box h2{
    font-size: 35px;
    font-weight: bold;
    color: var(--hitam1);
    text-transform: capitalize;
    margin-bottom: 20px;
}
.interest-join{
    text-align: center;
    margin-top: 90px;
}
.interest-join h1{
    font-weight: bold;
    font-size: 50px;
    color: var(--biru1);
    text-transform: uppercase;
    margin-bottom: 50px;

}
.interest-join .btn{
    height: 120px;
    min-width: 240px;
    font-size: 30px;
    font-weight: bold;
    padding: 35px;
}
.why{
    text-align: center;
    margin-bottom: 94px;
}
.why img{
    width: 900px;
    margin-bottom: 60px;
}
.why h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: var(--biru1);
    text-transform: uppercase;
    margin-bottom: 87px;
}
.container-promo-detail{
    margin: 90px 270px;
}
.container-promo-detail .box{
    box-shadow: 0px 3px 6px #0000005C;
    border: 1px solid #70707044;
    padding: 60px;
}
.container-promo-detail .box .date{
    font-size: 25px;
    margin-top: 53px;
    margin-bottom: 59px;
    display: block;
}
.container-promo-detail .box ul{
    padding-left:17px
}
.container-promo-detail .box ul li{
    list-style: decimal;
    padding: 15px;
}
.container-stories  {
    margin: 120px 180px;
}
.container-stories .nav-link {
    display: block;
    padding: 27px;
    text-transform: uppercase;
    color: var(--hitam1);
    font-size: 50px;
}
.container-stories .nav {
    width: 40%;
    float: left;
    height: 125px;
    margin: auto;
    margin-bottom: 90px;
}
.container-stories .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link  {
    color: var(--abu1);
    border: none;
}
.container-stories .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active  {
    color: var(--hitam1);
     border: none;
}

.container-stories .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: var(--hitam1);
    border: none;
}
.container-stories .nav-tabs .nav-link {
     border:  none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.container-stories .nav-tabs {
    border: none;
}
.container-stories .box-promo img {
    height: 404px;
    width: 100%;
}
.container-stories .box-promo {
    position: relative;
    margin-bottom: 200px;
}
.container-stories .box-promo .desc {
    background: var(--putih1);
    border: 1px solid #A4A4A42C;
    position: absolute;
    left: 75px;
    padding: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: bold;
    height: 271px;
    width: 600px;
    bottom: -35%;
}
.container-stories .box-promo .desc .top{
    float: left;width: 100%;
    margin-bottom: 30px;

}

.container-stories .box-promo .desc .top span{
    font-size: 18px;
    font-weight: normal;
    color: var(--abu1);
    display: block;
    margin-top: 0;
}
.container-stories .box-promo .desc h1{
    font-size: 25px;
    color: var(--abu2);
    text-transform: uppercase;
    font-weight: bold;
}
.container-stories .box-promo .desc p{
    font-size: 18px;
    color: var(--abu1);
    font-style: italic;
    margin-top: 30px;
    font-weight: normal;
}
.container-stories .load-more{
    text-align: center;
}
.container-stories .load-more hr{
    width: 35%;
    margin: 45px 0;
    border-top: 2px solid var(--pink);
}

.container-stories .load-more .btn, .container-stories .load-more .btn a:hover{
    height: 90px;
    width: 300px;
    background: var(--putih1);
    border: 1px solid var(--abu3);
    border-radius: 10px;
    padding: 25px;
    font-weight: bold;
    font-size: 25px;
    color: var(--hitam1);
}

.container-stories-detail {
    margin: 30px 180px;
}
.container-stories-detail h1 {
    font-weight: bold;
    color: var(--biru1);

}
.container-stories-detail .top {
    width: 100%;
    float: left;
    font-size: 25px;
    margin-bottom: 70px;
}
.container-stories-detail .top .author{
    float: left;
    margin-right: 15px;
}
.container-stories-detail .top .pink{
    float: left;
    width: 25px;
}
.container-stories-detail .top .date{
    float: left;
   color: var(--abu1);
}
.container-stories-detail .top .cate{
    color: var(--unggu);
    text-transform: uppercase;
}
.container-stories-detail .tags{
    text-transform: uppercase;
}
.breadcrumb{
    background-color: unset;
    border-bottom: 1px solid var(--pink);
    border-radius: 0;
}
.breadcrumb-item.active {
     color: var(--pink);
 }
.related-articles span{
    width: 10%;
    float: left;
}
.related-articles .article{
    width: 70%;
    float: left;
}
.related-articles .article .desc{
    background: var(--putih1);
    border: 1px solid #A4A4A42C;
    width: 248px;
    height: 117px;
    position: absolute;
    bottom: -50px;
    left: 60px;
    padding: 30px 30px 0 30px;
    font-weight: bold;
}
.why.about span{
    margin: 0 auto;
    font-size: 25px;
    text-align: left;
}
.why.contact h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: var(--biru1);
    margin-bottom: 30px;
    text-transform: none;
}
.container-business .box.about, .container-business .box.contact{
    box-shadow: none;
    border: none;
}

.form-control{
    min-height: 90px;
    border-radius: 15px;
    padding: 30px 60px;
    font-size: 25px;
    color: var(--abu1);
    border: 1px solid #707070;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--unggu);
    outline: 0;
    box-shadow: 0 0 0 0.2rem #A9017040;
}
.sidebar .title{
    border-bottom: 3px solid #292929;
    padding-bottom: 20px;
}
.sidebar .card{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: unset;
    background-clip: unset;
    border: unset;
    border-radius: unset;
    margin-top: 20px;
}

.sidebar .card-header {
    padding: 0;
    margin-bottom: 0;
    background-color: unset;
    border-bottom: 1px solid #C7C3C3;
}
.sidebar .card-body {
    padding: 15px 0;
}
.sidebar .btn-link {
    font-weight: 400;
    color: var(--hitam1);
}
.sidebar .btn-link:hover,.sidebar .btn-link:focus {
    font-weight: 400;
    color: var(--hitam1);
    text-decoration: none;
}
.sidebar ul {
    padding-left: 13px;
}
.sidebar li {
    list-style: none;
}
.sidebar .icon i{
    font-size: 15px;
    color: var(--abu1);
}
.start {
    color: var(--unggu);
}
.my-dropdown,.my-dropdown:hover{
    color: var(--hitam1);
    border: 1px solid #707070;
    padding: 19px 30px;
    height: 60px;
}
.my-tabs {
    width: 32% !important;
    margin: auto;
}
.btn-search{
    background: none;
    border: none;
}


@media only screen and (max-width: 1366px) {
    h2 {
        font-size: 20px;
    }
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 18px;
    }
    .f16{
        font-size: 14px !important;
    }
    .f20{
        font-size: 16px !important;
    }
    .f25 {
        font-size: 14px !important;
    }
    .f30{
        font-size: 20px !important;
    }

    .f40{
        font-size: 30px !important;
    }
    .f50{
        font-size: 30px !important;
    }
    .f55{
        font-size: 30px !important;
    }
    .f70 {
        font-size: 50px!important;
    }
    .mt20{
        margin-top: 15px !important;
    }
    .header {
        height: 100px;
        padding: 0 50px;
        border: none;
    }
    .my-logo {
        width: 15%;
        height: 100px;
    }
    .my-nav-items {
        width: 80%;
        margin: 25px 0 0 50px;
        height: 70px;
    }
    .my-search .form-control {
        min-height: 20px;
    }
    .nav-link,.nav-link:hover {
        padding: 15px;
        font-size: 18px;
    }
    .my-search {
        padding:0;
        width: 27%;
    }
    .banner.home .desc, .banner.about .desc {
        margin-left: 60px;
        width: 720px;
        margin-top: 50px;
    }
    .nav {
        width: 73%;
        height: 70px;
    }
    .my-nav-items .dropdown, .dropup {
        height: 75px;
    }
    .my-nav-items .dropdown-content {
        margin-top: 16px;
        padding: 30px 30px;
        min-width: 1009px;
        min-height: 485px;
        z-index:9
    }
    .my-nav-items .dropdown-content a {
        padding: 12px 16px;
        font-size: 18px;
    }
    .dropdown-content .sub-menu h1,.sub-sub h1 {
        font-size: 20px;
        padding: 12px 16px;
    }
    .btn-biru.btn-lg, .btn-abu.btn-lg {
        min-width: 200px;
        height: 70px;
        padding: 17px 20px;
        font-size: 20px;
    }
    .container-produk {
        margin: 40px 50px;
    }
    .new-arrivals h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .box-produk h2 {
        font-size: 18px;
    }
    .join .desc {
        margin-left: 60px;
        width: 810px;
        margin-top: 50px;
    }
    .stories {
        margin: 50px 60px;
    }
    .stories h1 {
        font-size: 30px;
        margin-bottom: 60px;
    }
    .stories .comment {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .our-stories {
        margin: 30px 60px;
    }
    .our-stories h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .our-stories .category {
        font-size: 30px;
        width: 24% !important;
        margin-bottom: 50px;
    }
    .our-stories .category .nav-link.active {
        font-size: 25px;
    }
    .our-stories .category .nav-link{
        font-size: 25px;
    }
    .our-stories .category span {
        margin-right: 100px;
    }
    .our-stories .title {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 18px;
    }
    .our-stories .desc {
        margin-bottom: 30px;
        font-size: 14px;
    }
    .our-stories .read-more {
        font-size: 18px;
        margin: 0 auto;
    }
    .footer {
        margin-top: 30px;
        padding-left: 90px;
        margin-bottom: 30px;
    }
    .footer .menu-left h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .footer .menu-left ul li {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .footer .social-media h2 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .container-promo {
        margin: 60px 90px;
    }
    .box-promo img {
        height: 191px;
    }
    .box-promo .desc{
        width: 280px;
        left: 45px;
        padding: 20px;
        font-size: 14px;
    }
    .container-promo .load-more hr {
        width: 33%;
        margin: 45px 0;
    }

    .container-promo .load-more .btn, .container-promo .load-more .btn a:hover {
        height: 70px;
        width: 230px;
        padding: 20px;
        font-size: 18px;
    }
    .why h1 {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .container-business {
        margin: 50px 90px;
    }
    .container-business .box h1 {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .container-business .box .left {
        width: 45%;
        margin-right: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-business .box .right {
        width: 45%;
        margin-left: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-business .box h2 {
        font-size: 20px;
    }
    .container-business .box {
        padding: 30px 90px;
    }
    .interest-join h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .interest-join .btn {
        height: 70px;
        min-width: 215px;
        font-size: 20px;
        padding: 18px;
    }
    .interest-join {
        margin-top: 60px;
    }
    .container-stories .nav-link {
        padding: 27px;
        font-size: 18px;
    }
    .container-stories {
        margin: 50px 90px;
    }
    .container-stories .nav {
        width: 26%;
        margin: auto;
        margin-bottom: 20px;
        height: 70px;
    }
    .container-stories .box-promo img {
        height: 300px;
    }
    .container-stories .box-promo .desc {
        left: 50px;
        padding: 10px 10px 0 10px;
        font-size: 14px;
        height: 200px;
        width: 470px;
        bottom: -35%;
    }
    .container-stories .box-promo .desc .top span {
        font-size: 14px;
    }
    .container-stories .box-promo .desc .top {
        margin-bottom: 15px;
    }
    .container-stories .box-promo .desc h1 {
        font-size: 18px;
    }
    .container-stories .box-promo .desc p {
        font-size: 14px;
        margin-top: 20px;
    }
    .container-stories .load-more .btn, .container-stories .load-more .btn a:hover {
        height: 70px;
        width: 240px;
        border-radius: 10px;
        padding: 20px;
        font-size: 20px;
    }
    .container-stories .load-more hr {
        width: 37%;
        margin: 35px 0;
    }
    .container-promo-detail {
        margin: 50px 90px;
    }
    .container-promo-detail .box .date {
        font-size: 20px;
        margin-top: 53px;
        margin-bottom: 59px;
    }
    .container-stories-detail {
        margin: 30px 90px;
    }
    .container-stories-detail .top {
        width: 100%;
        float: left;
        font-size: 18px;
        margin-bottom: 30px;
    }
    .related-articles .article .desc {
        width: 200px;
        height: 117px;
        bottom: -50px;
        left: 30px;
        padding: 15px 15px 0 15px;
    }
    .form-control {
        min-height: 60px;
        border-radius: 15px;
        padding: 13px 30px;
        font-size: 20px;
    }
    .why.about span {
        font-size: 18px;
    }
    .load-more.product hr {
        width: 30%;
        margin: 35px 0;
    }

    .dropdown-content .sub-menu {
        width: 62%;
        float: left;
        position: absolute;
        left: 32%;
        top: 6%;
    }
    .nav ul li {
        font-size: 16px;
        font-weight: normal;
    }
    .nav .box-menu{
        left: 28%;
        top: 100px;
        min-width: 960px;
        z-index: 9;
        padding: 30px;
    }
    .border-menu {
        left: 220px;
        top: 40px;
    }
    .nav li li:hover ul {
        margin-left: 145px;
        margin-top: -65px;
    }


}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    .navbar{
        justify-content: unset;
    }
    .mt20 {
        margin-top: 5px !important;
    }
    .mb40 {
        margin-bottom: 10px !important;
    }
    .header {
        height: 100px;
        padding: 0;
        border: none;
    }
    .my-carousel  {
        padding: 0;
    }
    .btn-biru.btn-lg, .btn-abu.btn-lg {
        min-width: 110px;
        height: 30px;
        padding: 6px 14px;
        font-size: 11px;
    }
    .join h3{
        font-size: 10px;
    }
    .join h1{
        font-size: 18px;
    }
    .banner.home .desc, .banner.about .desc,.join .desc {
        margin-left: 5px;
        width: 70%;
        margin-top: 10px;
    }
    .my-tabs {
        width: 76% !important;
        margin: 0 auto;
        margin-bottom: 0!important;
    }
    .our-stories .category .nav-link {
        font-size: 14px;
    }
    .our-stories .category .nav-link.active {
        font-size: 14px;
    }
    .our-stories h1 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .our-stories .read-more {
        font-size: 14px;
        margin: 0 auto;
    }
    .footer .menu-left {
        width: 100%;
        float: left;
        text-align: center;
    }
    .footer .social-media {
        width: 100%;
        float: left;
        text-align: center;
    }
    .footer {
        margin-top: 30px;
        padding-left: 10px;
        margin-bottom: 30px;
    }
    .header {
        height: 65px;
    }
    .my-logo {
        width: 40%;
        height: auto;
        margin: auto;
    }
    .bg-light {
        background-color: #ffffff!important;
    }
    .collapse.show {
        display: block;
        z-index: 9;
    }
    .home h2{
         font-size: 14px;
     }
    .home h2{
        font-size: 14px;
    }
    .home h3{
        font-size: 10px;
    }
    hr.unggu-150 {
        border-top: 1px solid var(--unggu);
        width: 100px;
    }
    .box-produk h1 {
        font-size: 12px;
    }
    .box-produk h2 {
        font-size: 16px;
    }
    .new-arrivals h2 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .owl-theme .owl-nav .owl-prev {
        left: -25px;
    }

    .owl-theme .owl-nav .owl-next {
        right: -25px;
    }

}

